@import "tailwindcss";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* offset for fixed navbar if you have one */
}

body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}
